{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Mon Projet</h1>
    <p>{{ id }} . {{ project.title }}</p>
    <a href="/Project/edit/{{ id }}">Modifier mon projet</a></br>
    <a href="/Project/delete/{{ id }}">Supprimer</a></br>
    <a href="/home/index">Retour à l'accueil</a>
{% endblock %}



