{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Item {{ project.title }}</h1>
    <p>{{ project.id }}. {{ project.title }}</p>
    <a href="/item/edit/{{ project.id }}">Edit</a>
    <a href="/item/index">Back</a>
{% endblock %}
