{% extends 'layout.html.twig' %}

{% block content %}
    <main>
        <h1>Hello Wilder !</h1>
        <a href="/Profil/all/">All Profils</a>
        {%  include '/Home/_profilsCarousel.html.twig' %}
    </main>
{% endblock %}