{% extends 'layout.html.twig' %}

{% block title %}Side-by-Side{% endblock %}

{% block content %}
   
    <main>
        <h1>Side by Side</h1>
        <a href="/Profil/all/">All Profils</a>
        <a href="/Project/new/"><button type="button" class="btn btn-warning">Lancez Votre Projet !</button></a>
        <div>
            <hr>
            <h2>Projets</h2>
            {% include 'Home/_projectCard.html.twig' %}
            <hr>
            {% if isSearched and users[0] is defined %}
                <h2>Profils</h2>
                {%  include 'Home/_profilCards.html.twig' %}
            {% elseif not isSearched %}
                {%  include 'Home/_profilsCarousel.html.twig' %}
            {% endif %}
        </div>
    </main>

{% endblock %}

