{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    <a href="/Project/new/"><button type="button" class="btn btn-warning">Lancez Votre Projet !</button></a>
{% endblock %}
