/*__________________ General Navbar CSS __________________*/
.navbar {
    padding: 10px 20px;
    background: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}
.navbar-light {
    display: flex;
    justify-content: space-between;
    background: var(--background-color);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}
.general-navabar-link{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.social,
.fas.fa-chevron-right,
.footer-menu,
.not-in-desktop{
    display: none;
}
.not-in-mobile{
    display: block;
}
.nav-signup {
    background: var(--background-color);
}
.nav-button {
    padding: 0 25px;
    font-weight: bold;
}
#nav-link-black {
    color: #000
}

#nav-link-white {
    color: #fff;
}
.navbar-collapse ul.burger li a.nav-link,
.navbar-collapse ul.burger li a.nav-link:hover {
    color: #fff;
}
.container-right{
    display: flex;
    margin-left: auto;
    align-items: center;
}
a.navbar-create-project {
    background: var(--secondary-color);
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}
.navbar-profil{
    background: black;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 25px;
    height: 50px;
    width: 50px;
}
.navbar-profil-img {
    height: 50px;
}
.dropdown-menu {
    transform: translateX(-120px);
}
.container-right>* {
    margin: 0 10px;
}

/*_______________________________________________ Mobile View _______________________________________________*/
@media screen and (max-width: 992px) {
    /*__________________ Head Navbar CSS __________________*/
    .navbar {
        padding: 10px 0 0 0;
    }

    .navbar-mobile {
        margin-bottom: 10px;
    }
    .container-right>* {
        margin: 0 10px 10px;
    }
    .not-in-desktop {
        display: flex;
    }

    .navbar-nav.burger li.not-in-mobile {
        display: none;
    }

    .general-navabar-link {
        display: contents;
    }

    .navbar-brand {
        display: inline-block;
        padding: 0;
        margin-right: 0;
        margin-left: 12px;
    }

    .navbar-dark .navbar-toggler {
        color: transparent;
        border-color: transparent;
    }

    .burger-icon {
        color: #fff;
        font-size: 30px;
    }

    .navbar-button {
        margin-left: auto;
    }

    .navbar-button ul {
        display: flex;
        flex-direction: row;
        font-size: 13px;
    }

    a.navbar-create-project {
        margin-bottom: 10px;
        margin-left: auto;
    }

    .nav-signup {
        background: var(--background-color);
    }

    .container-right form {
        display: none;
    }

    /*__________________ Collapse Navbar CSS __________________*/
    .fas.fa-chevron-right,
    .footer-menu {
        display: block;
    }

    i.fas.fa-chevron-right {
        margin-left: 25px;
    }

    .head-collapse {
        background: var(--navbar-divider-color);
        height: 70px;
    }

    .navbar-nav.burger {
        padding: 40px;
        height: 100vh;
    }

    .divider {
        background: var(--navbar-divider-color);
        height: 5px;
        margin: 50px 0 60px 0;
    }

    .navbar-collapse {
        font-size: 23px;
        background: var(--background-color);
    }

    .navbar-collapse ul.burger li a.nav-link,
    .navbar-collapse ul.burger li a.nav-link:hover {
        color: #000;
        width: 200px;
    }

    /*__________________ Social CSS __________________*/
    .social {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
    }

    .navbar-nav.burger li {
        display: flex;
        align-items: center;
        filter: grayscale(1);
    }

    .navbar-nav.burger li:hover {
        filter: grayscale(0);
    }

    /*__________________ Change CSS according to Height of the device__________________*/
    @media screen and (max-height: 750px) {
        .divider {
            margin: 25px 0 20px 0;
        }
        .social {
            margin-top: 30px;
        }
        .navbar-nav.burger {
            padding: 20px 40px;
        }
    }
    @media screen and (max-height: 670px) {
        .head-collapse {
            height: 20px;
        }
        .divider {
            margin: 10px 0 5px 0;
        }
        .social {
            margin-top: 30px;
        }
        .navbar-nav.burger {
            padding: 20px 40px;
        }
    }
    @media screen and (max-height: 570px) {
        .head-collapse {
            height: 15px;
        }
        .divider {
            margin: 0;
        }
        .social {
            margin-top: 15px;
        }
        .navbar-nav.burger {
            padding: 10px 40px;
        }
    }
}
@media screen and (max-width: 330px) {
    .nav-button {
        padding: 0 15px;
    }
}




