
/* Colors */
@import "colors.css";

/* Navbar StyleSheets */
@import "navbar.css";

.btn {
    background-color: var(--secondary-color);
    font-weight: 700;
    font-family: Roboto, sans-serif;
}
.btn-sign {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 30px;
    border-radius: 35px;
    padding: 5px 60px;
    width: 280px;
}
.btn-back {
    background: var(--primary-color);
    color: var(--background-color);
    padding: 4px 25px;
    border-radius: 0;
}
.navbar-sign {
    padding: 0;
    margin-right: 0;
}

.form-control-sign, .form-control-sign:focus{
    background-color: var(--primary-color);
    color: var(--navbar-divider-color);
    padding: 25px;
    border-radius: 10px;
}
.form-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

::placeholder {
    color: white !important;
}

.container.sign-in {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.container-form-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.container.sign-in h1 {
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-size: 30px;
}

.header-sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-sign-in div.form-group {
    margin-bottom: 30px;
}
.form-sign-in div.form-group:nth-child(2) {
    margin-bottom: 50px;
}

.forget {
    color: #6c757d!important;
    display: block;
    margin-top: .50rem;
    font-size: 60%;
    font-weight: 400;
}

.container-header-sign {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
}