<div class="card manage-card">
    <div class="card-body">
        <div class="card-request-top">
            <div class="container-profil-picture">
                <img class="project-owner-profil-image" src="{{ projectOwner.profil_picture }}">
            </div>
            <div class="card-request-top-info">
                <h5 class="card-title">Jeanne Bichon</h5>
                <h6 class="card-subtitle mb-2 text-muted">jeanne@bichon.com</h6>
                <p>Rhone(69)</p>
                <p>#Menuisier, #Informaticien, #Aide-Chien</p>
            </div>
        </div>
        <div class="card-request-content">
            <p class="card-text card-text-manage">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="btn-container">
                <button class="btn btn-yellow-round" type="button" href="#">
                    Accepter
                </button>
                <button class="btn btn-white-round" type="button" href="#">
                    Ignorer
                </button>
            </div>
        </div>
    </div>
</div>