{% extends 'layout.html.twig' %}

{% block title %}Side-by-Side{% endblock %}

{% block content %}
    <main>
        <div class="container-banner-project">
            <h1 class="project-title">
                {{ project.title }}
            </h1>
            <img class="banner-project-image" src="{{ project.banner_image }}">
        </div>
        <h1>Manage Project</h1>
        {% if requests is defined %}
            {% include 'Manage/_requestCarousel.html.twig' %}
        {% endif %}
    </main>
{% endblock %}