<form action="/Profil/search/" method="POST">
    <div class="form-group">
        <input class="form-control mr-sm-2 col-10 offset-1 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4"
               name="searched_profil" id="searched_profil" type="search"
               placeholder="Recherche de profils" aria-label="Search">
    </div>
</form>