<form action="/Profil/search/" method="POST">
    <label for="searched_profil"></label>
    <input type="text" name="searched_profil" id="searched_profil"
           value="" placeholder="Recherche">
    <button type="submit">Rechercher</button>
</form>