{% extends 'layout.html.twig' %}

{% block title %}Messages{% endblock %}

{% block content %}
    {% include 'Manage/_formMessage.html.twig' %}
    {% for message in messages %}
        <div class="message-container col-11 col-md-7 col-lg-5">
            <div class="message-card">
                <div><strong>{{ message.first_name }} {{ message.last_name }}</strong></div>
                <p><small>{{ message.created_at }}</small></p>
            </div>
            <p>{{ message.message }}</p>
        </div>
    {% endfor %}
{% endblock %}