{% extends 'layout.html.twig' %}

{% block title %}Profils{% endblock %}

{% block content %}
    <h1>Profils</h1>
    {% include 'Profil/_search.html.twig' %}
    <div class="row">
        {% for user in users %}
            <div class="card profil-card col-6">
                <a href="/Profil/user/{{ user.id }}">
                    <div class="profil-img-container">
                        <img src="/assets/images/detective840x500.jpg"
                             class="card-img-top profil-img"
                             alt="Photo de profile">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ user.first_name ~ ' ' ~ user.last_name }}</h5>
                        <p class="card-zip-code">{{ user.zip_code }}</p>
                        <p class="card-text">
                            {% for skill in skills %}
                                {% if skill.user_id == user.id %}
                                    #{{ skill.name }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}